body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0,0,0,0.95);
  color: white;
}
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

th {
  text-align: left;
}

.footer {
  margin: 20px auto;
  width: 600px;
  /*text-align: center;*/
  opacity: 0.8  ;
}

.footer a {
  text-decoration: none;
  color: orange;
}
.footer a:hover {
  color: orange;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  font-weight: 100;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
}

#tweet-input {
  width: 20em;
  padding: 0.5em;
  background: transparent;
  border: 1px solid white;
  color: white;
}

button {
  background-color: transparent;
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  padding: 0.5em;
  color: white;
}

button a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: white;
}

/*
available font weights:
100,100italic,300,300italic,400,400italic,
500,500italic,700,700italic,900,900italic
*/
